@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Manrope:wght@600&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Inspiration&family=Manrope:wght@600&family=Source+Serif+Pro&display=swap');
body{
    margin-left: 12%;
    margin-right: 12%;
    background-size: contain;
    background-repeat: repeat;
}
.card{
    text-align: center;
}

#carouselExampleDark img{
    width: 100%;
    height: 67vh;
}
#icon{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(171, 179, 171);
    border-radius: 50px;
}
#navtitle{
    color: gold;
    font-family: 'Inspiration', cursive;
    font-size: 27px;
    font-weight: bolder;
}
#navbarNav{
    margin-left: 50%;
}
.nav-link{
    font-family: 'Akronim', cursive;
    color: goldenrod;
    font-size: 25px;

}
.nav-link:hover{
    font-family: 'Inspiration', cursive;
    font-size: 25px;
    border: 2px solid gray;
    background-color: aqua;
    color: rgb(191, 194, 31);
    border-radius: 70%; 
}
.card-img-top{
    text-align: center;
    height: 23vh;
    width: 11vw;
    margin-left: 26%;
    border: 2px solid rgb(109, 109, 95);
    border-radius: 50%;
}
.card h5{
    color: rgb(59, 27, 27);
}
.card-text{
    font-family: 'Manrope', sans-serif;
    color: rgb(22, 22, 27);
}
#number1{
    border: 1px solid rgb(142, 142, 158);
    width: 20vw;
    text-align: center;
}
#number2{
    border: 1px solid rgb(142, 142, 158);
    width: 20vw;
    text-align: center;
}
#number3{
    border: 1px solid rgb(142, 142, 158);
    width: 20vw;
    text-align: center;
}
.form-select{
    border: 1px solid rgb(142, 142, 158);
    width: 20vw;
    text-align: center;
}
.footer img{
    margin-top: 1%;
    margin-bottom: 1%;
}
.footer p{
    /* margin-bottom: 2%; */
}
.col-12 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.footer{
    /* margin-top: 1%; */
    background-color: rgb(106, 111, 111);
    color: white;
}
#deliveryContainer button{
    margin-top: 3.4%;
    margin-bottom: 2%;
}
#deliveryContainer .form-select{
    margin-top: 3%;
}